{{<html}}
{{$main}}

{{& page.contents.html}}

<div id="authors" class="wrapper">

    {{#empty(context.authors)}}
    Empty.
    {{/empty(context.authors)}}
    {{^empty(context.authors)}}
    <div class="grid grid-221">
    {{#context.authors}}
        {{> partials.blog.author}}
    {{/context.authors}}
    </div>
    {{/empty(context.authors)}}
    
</div>

{{/main}}
{{/html}}
