<aside id="toc">
    {{#empty(page.contents.outline)}}
    {{/empty(page.contents.outline)}}
    {{^empty(page.contents.outline)}}
    <h4>On this page</h4>
    <ul>
    {{#page.contents.outline}}
        <li class="first-level">
            <a href="#{{fragment}}">{{text}}</a>
            <ul>
            {{#children}}
                <li><a href="#{{fragment}}">{{text}}</a></li>
            {{/children}}
            </ul>
        </li>
    {{/page.contents.outline}}
    </ul>
    {{/empty(page.contents.outline)}}
</aside>
