{{<html}}
{{$main}}

<div class="article-with-toc">
    <div>
        <article class="post">
            <div class="meta">
                <time datetime="{{page.publication.iso8601}}">{{page.publication.date.medium}}</time>
                {{#page.contents.readingTime}} &middot; <span class="reading-time">{{page.contents.readingTime}} min read</span>{{/page.contents.readingTime}}
                {{#page.featured}} &middot; <span class="featured">featured</span>{{/page.featured}}
            </div>
            <section>

            {{& page.contents.html}}

            </section>

            <footer>
                <br>
                <time datetime="{{page.date}}">{{page.date}}</time>


                <div class="author-list">
                {{#page.authors}}
                    <a href="{{permalink}}">
                    {{#image}}<img class="small rounded" src="{{image}}" alt="{{title}}">{{/image}}
                    <span class="name">{{title}}</span>
                    </a>
                {{/page.authors}}
                </div>
                <div class="tag-list">
                {{#page.tags}}
                    <a href="{{permalink}}"><small>{{title}}</small></a>
                {{/page.tags}}
                </div>
            </footer>

            <section class="group">
                {{#empty(page.related)}}
                {{/empty(page.related)}}
                {{^empty(page.related)}}
                <h4>Related posts</h4>
                <div class="grid grid-221">
                {{#page.related}}
                    {{> partials.blog.post}}
                {{/page.related}}
                </div>
                {{/empty(page.related)}}
            </section>

        </article>
    </div>

    <div>
        <div class="support">
            <a href="https://theswiftdev.gumroad.com/l/practical-server-side-swift" target="_blank">
                <img src="https://theswiftdev.com/assets/practical-server-side-swift/cover.png" alt="Practical Server Side Swift Book Cover">
            </a>
            <p>
                Learn how to build a modular blog engine using Vapor 4.
            </p>
            <a class="cta" href="https://theswiftdev.gumroad.com/l/practical-server-side-swift" target="_blank">Buy on Gumroad</a>
        </div>

        {{> partials.outline }}

    </div>
</div>

{{/main}}
{{/html}}
