{{<html}}
{{$main}}

{{& page.contents.html}}


<section class="group">
    <h4>Featured posts</h4>

    {{#empty(context.featured)}}
    Empty.
    {{/empty(context.featured)}}
    {{^empty(context.featured)}}
    <div class="grid grid-221">
    {{#context.featured}}
        {{> partials.blog.post}}
    {{/context.featured}}
    </div>
    {{/empty(context.featured)}}
</section>


<section class="group">

    <h4>Latest posts</h4>

    {{#empty(context.posts)}}
    Empty.
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div class="grid grid-321">
    {{#context.posts}}
        {{> partials.blog.post}}
    {{/context.posts}}
    </div>
    {{/empty(context.posts)}}
</section>

{{/main}}
{{/html}}
