<div class="card tag">
    {{#image}}<a href="{{permalink}}"><img class="medium" src="{{image}}" alt="{{title}}"></a>{{/image}}
    <h2><a href="{{permalink}}">{{title}}</a></h2>
    <p>{{count(posts)}} posts</p>
</div>
