{{<html}}
{{$main}}

{{#empty(pagination.post)}}
{{/empty(pagination.post)}}
{{^empty(pagination.post)}}
{{#pagination.post}}
    {{number}}
    {{total}}
{{/pagination.post}}
{{/empty(pagination.post)}}

{{& page.contents.html}}

<div id="blog" class="wrapper">
    
    <h2>Featured posts</h2>
    {{#empty(context.featured)}}
    Empty.
    {{/empty(context.featured)}}
    {{^empty(context.featured)}}
    <div class="grid grid-221">
    {{#context.featured}}
        {{> partials.blog.post}}
    {{/context.featured}}
    </div>
    {{/empty(context.featured)}}
    
    
    <h2>Latest posts</h2>
    {{#empty(context.posts)}}
    Empty.
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div class="grid grid-321">
    {{#context.posts}}
        {{> partials.blog.post}}
    {{/context.posts}}
    </div>
    {{/empty(context.posts)}}
    
    
    <h2>Authors</h2>
    {{#empty(context.authors)}}
    Empty.
    {{/empty(context.authors)}}
    {{^empty(context.authors)}}
        <div class="grid grid-321">
    {{#context.authors}}
        {{> partials.blog.author}}
    {{/context.authors}}
    </div>
    {{/empty(context.authors)}}
    
    <h2>Tags</h2>
    {{#empty(context.tags)}}
    Empty.
    {{/empty(context.tags)}}
    {{^empty(context.tags)}}
        <div class="grid grid-321">
    {{#context.tags}}
        {{> partials.blog.tag}}
    {{/context.tags}}
    </div>
    {{/empty(context.tags)}}
    
    
    

    <h2>Post pagination</h2>
    {{#empty(site.context.pagination)}}
    {{/empty(site.context.pagination)}}
    {{^empty(site.context.pagination)}}
    <div class="pagination">
    {{#site.context.pagination}}
        {{> partials.pagination}}
    {{/site.context.pagination}}
    </div>
    {{/empty(site.context.pagination)}}

</div>
{{/main}}
{{/html}}
