<div class="card issue">
    <h2 class="title"><a href="{{permalink}}">{{title}}</a></h2>
    <div class="meta">
        <time datetime="{{publication.html}}">{{publication.html}}</time>
        {{#readingTime}} &middot; <span class="reading-time">{{readingTime}} min read</span>{{/readingTime}}
    </div>
</div>
