{{<html}}
{{$main}}

{{& page.contents}}

<div id="issues">
    <h2>Previous Issues</h2>
    {{#empty(site.context.issues)}}
    Empty.
    {{/empty(site.context.issues)}}
    {{^empty(site.context.issues)}}
    <div class="">
    <ul>
    {{#site.context.issues}}
       <li> {{> partials.newsletter.issue}}</li>
    {{/site.context.issues}}
    </li>
    {{/empty(site.context.issues)}}
</div>

{{/main}}
{{/html}}
