{{<html}}
{{$main}}

{{& page.contents.html}}

<div id="issues">
    <h3>Latest issues</h3>
    <hr>
    {{#empty(context.issues)}}
    Empty.
    {{/empty(context.issues)}}
    {{^empty(context.issues)}}
    <div class="issue-list">
    {{#context.issues}}
       {{> partials.newsletter.issue}}
    {{/context.issues}}
    </div>
    {{/empty(context.issues)}}
    <hr>
    <a href="/newsletter/issues/page/1">Browse all issues</a>
</div>



{{/main}}
{{/html}}
