{{<html}}
{{$main}}

{{& page.contents.html}}

<div id="issues" class="wrapper">

    {{#empty(iterator.items)}}
    Empty.
    {{/empty(iterator.items)}}
    {{^empty(iterator.items)}}
    <div class="">
    {{#iterator.items}}
        {{> partials.newsletter.issue}}
    {{/iterator.items}}
    </div>
    {{/empty(iterator.items)}}
    
    {{#empty(iterator.links)}}
    {{/empty(iterator.links)}}
    {{^empty(iterator.links)}}
    <div class="pagination">
    {{#iterator.links}}
        {{> partials.pagination}}
    {{/iterator.links}}
    </div>
    {{/empty(iterator.links)}}

</div>

{{/main}}
{{/html}}
